/* Aca definimos las Custom properties */
:root {
    --negro: #393939;
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
  }
  /* Opcional */
  /* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
  /* Opcional */
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /*Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    display: block;
   
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: initial;
    display: inline;
    fill: currentColor;
  }
  
  /* (Probándolo, no usar en producción) En el caso de añadir una  */
  /* p svg{
    display: inline;
    width: initial;
  } */
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
  }


/*Comienzo de código*/



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

.bg{
    width: 85%;
    margin-top: 2.8rem;
    border-radius: 1rem;
    border: .1rem solid rgb(205, 216, 219);
    box-shadow: 0 1rem 1rem rgba(240, 240, 240, 0.2);
    backdrop-filter: blur (1rem);
    background-color: rgba(255, 255, 255, 0.060);
    color:#dfd7d7;
}

body{
    background: rgb(240, 242, 247);
   
}

.hero__title-h1{
    margin-bottom: .6rem;
    font-family:'Bodoni Moda', serif;
    font-size: 4rem;
    line-height: 3.5rem;
    color: #dfd7d7;
    font-weight: bolder;
    letter-spacing: 3px;
}

.hero__title-h2{
    padding-top: 0;
    margin-bottom: 1.4rem;
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    color: #83ccd1;

}

.logo{
    width: 45%;
    padding-top: .3rem;
}

            /*MENU MOBILE*/

.header{ 
    position: fixed; 
    width: 100%;
    z-index: 2;
    background:linear-gradient(to right, #e0e8ee,  #a6bfd4);
    padding: .6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.svg{
    width:1.9rem ;
    min-height: 1.9rem;
    color:#2f098a;
    line-height: 2px;
    margin-right: .8rem;
}
.menu{
    width: 100%;
}
.dropdownmenu__navlist{
    height: 0;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.dropdownmenu__navlist__nav--item{
    margin:1rem 0;
}

.dropdownmenu__navlist__nav--link{
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(207, 203, 203);
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
}

.active{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    pointer-events: auto;
    position: absolute;
    z-index:1;
    align-items:center;
    justify-content:center;
    transition: .5s ease;
    width: 100vw;
    left: 0%;
    top: 100%;
    background:linear-gradient(to right, #a77eb9, #431757) ;
}


.dropdownmenu__icons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
    color:#dfd7d7;
}

.dropdownmenu__icons a{
    font-size: 2.2rem;
}

.lineitem{
    width: 50%;
    margin-left: 0 auto;
    min-height: 0.02rem;
    border: none;
    background: #ece5e5;
}

            /*MENU DESKTOP*/

.desktopmenu{
    display: none;
    flex-direction: row;
    justify-content:end;
    margin-bottom: 1rem;
}

.desktopmenu__items--button{
    padding-right: 2rem;
}

            /*HERO*/

.hero{
    padding: 0 3.125rem;
    background: url(/img/hero2-jpg.jpg) fixed no-repeat 50% 50%; 
    min-height: 100vh;
    background-size:cover;
    background-position: center;
}

.hero::before{
    content: '';
    background: rgba(60, 60, 85, 0.4)fixed no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: 0%;
}

.hero__content{
    position: relative;
    color: #fff;
    min-height: 100%;
    display: flex;
    padding-top: 6rem;
    
}

.hero__title{
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 0;
}

.shift__button-hero{
    display: inline;
    position: relative;
    font-size: .9rem;
    font-weight: 400;
    color: #faf3f3;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: 1px solid rgba(247, 242, 242, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #9b31cc;
    transition: all 0.4s;
}

.wavedivider {
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavedivider svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 80px;
}

.wavedivider .shape-fill {
    fill:rgb(240, 242, 247);
}

            /*SOCIAL PROOF*/

.social-proof{
    background: rgb(240, 242, 247);
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.social-proof__text{
    width: 80vw;
    margin: auto;
    font-family:'Alumni Sans Pinstripe', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .7px;
    color: #323235;
    text-align: center;
}

.quotes{
    font-size: 1.5615rem;
    color:#393939;
}

.social-proof__portrait{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-bottom: 1rem;
}
.social-proof__portrait-img{
    width: 25%;
}
.social-proof__name{
    font-size: .8rem;
    color: #615f5f;
    padding-top: .9rem;
}
.linedivider{
    width:75%;
    margin: 0 auto;
    min-height: 0.1rem;
    border: none;
    background:linear-gradient(to right, #8576a8, #2f098a, #86098a);
    margin-bottom: 4rem;
}


        /*PHOTO GALLERY*/

#gallery-slider{
    max-width: 50em;
    padding-bottom: 1.2rem;
    padding-top: 3rem;
    margin: auto;
    background:black;
}

#gallery-slider ul li{
    padding: 0;
    margin: 0;
    list-style: none;
}

#gallery-slider > ul.slider{
    position: relative;
    min-height:60vh;
    max-width:50em;
    width: 85%;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    padding-bottom: 2em;
}

#slide4 h3{
    margin-top: 10em;
}
#slide6 h3{
    margin-top: 10em;
}

#gallery-slider > ul.slider h3{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    color: #525050;
    text-transform: uppercase;
    padding: .7em;
    border-radius: 4px;
    left: 50%;
    top: 6.25em;
    transform: translate(-50%, -50%);
}

#gallery-slider > ul.slider li{
    position: absolute;
    left: 0rem;
    top: 0rem;
    opacity: 0;
    width: 100%;
    transition: opacity 2s;
    border-radius:.5rem;
}


#gallery-slider > ul.slider li img{
    width:100%;
    max-height: 70vh;
    object-fit:cover;
    border-radius: 6px;
    border-bottom:  3px solid #5d40a0;
    border-right: 6px solid #86098a ;
    border-top: 2px solid #2f098a;
    border-left: 1px solid rgba(255, 166, 0, 0.411);
}  

.slider__title-box-h2{
    font-family: 'Bodoni Moda', serif;
    font-weight: 200;
    font-size:2rem;
    color: #ffffffd5;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 2rem;
}

#gallery-slider > ul.slider li:first-child{
    opacity: 1;
}

#gallery-slider > ul.slider li:target{
    opacity: 1;
}

#gallery-slider > .menu-slider{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

#gallery-slider > .menu-slider li{
    margin-right: 1.5em;
    width: 3px;
    height: 3px;
    margin-top: 1.5rem;
}


#gallery-slider > .menu-slider li a{
    display:inline-block;
    text-decoration: none;
    background-color:#faf3f3;
    border-radius: 50%;
    border: 0.8px solid #3b1faa;
    padding: 0.4rem;
}

#gallery-slider > .menu-slider li a:hover{
    background-color: #2f098a;
}

.see-more{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #4b979e;
    padding:.3em .8em;
    padding-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.grid-gallery{
    display: none;
}

        /*Prices/Promos/Payment methods*/

.cards{
    background: url("img/backgroundPrices.jpg.jpg") ;
    background-size: cover;
    backdrop-filter:blur(.4rem);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards h2{
    text-align: center;
    color: #e7b0a2;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-family:'Inter', sans-serif;
}

.cards ul{
    padding: 1em;
}

.cards li{
    text-align:left;
    letter-spacing: 1px;
    line-height: 1.7rem;
    font-size: .8rem;
}

.cards h4{
    font-size: .7rem;
    text-align: center;
    padding-bottom: .5rem;
    padding: 1rem;
}

.prices__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices__promos-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prices__payment-methods{
    margin-bottom: 3rem;
}
.prices__payment-methods li{
    text-align: center;
    font-size: 1.2rem;
}
.prices__payment-methods--button{
    width: 50%;
    font-size: 1em;
    padding: 1rem .1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.3);
    color:#fff;
    background-color: rgb(2, 128, 247);
}

            /*ABOUT ME*/

#aboutMe{
    display: block;
    flex-direction: column;
    left: 50%;
    padding:3rem 0;
    background:url(/img/backgroundAboutme.jpg.jpg);
    background-size: cover;
    background-position: calc(78%);
    background-repeat: no-repeat;
    background-attachment: fixed
}

.aboutMe__title{
    padding-left: 1rem;
    padding-bottom:2rem;
    font-size: 2.3rem;
    font-family:'Roboto', sans-serif;
    color: #444040;
    letter-spacing: 1.5px;
}

.aboutMe__text,
.aboutMe__text-2{
    width: 70%;
    font-family: 'Inter', sans-serif;
    color:#39393b;;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    line-height: 1.9rem;
    padding-left: 1rem;
}
.aboutMe__text-2{
    padding-bottom: 2rem;
}
.shift__button-aboutMe{
    width: 47%;
    margin:auto;
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    color: #faf3f3;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding:1.2rem 1.25rem;
    border-radius: 30px;
    border: 1px solid rgba(247, 242, 242, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #9b31cc;
    transition: all 0.4s;
}

.youtube{
    margin: 3.5rem 1rem;
    color: #4b4b4d;
    min-height: 75vh;
}

.youtube__text-title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.youtube__text-title--p{
    color: #5f5e63;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.2px;
    padding-top: .8rem;
    padding-bottom: 2.5rem;
    
}
.video__youtube{
    width: 90vw;
    min-height: 35vh;
    margin-bottom: 2rem;
}

footer{
    background: #323235;
    min-height: 45vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

#contact{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.contact__title{
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem ;
    font-weight: bold;
    text-align: center;
    color:#ffff;
    padding-top: 2.5rem;
}
.container-icons{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-top:2rem;
    font-size: 2.2rem;
    color:rgb(214, 214, 231);
    margin-bottom: 2.5rem;
}
.fa-whatsapp{
    padding-left: 1.8rem;
    padding-right: 1.5rem;
}
.contact__navigationFooter-bar{
    display: none;
}
.copyright{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright__brand{
    font-size: .65rem;
    padding-left: .5rem;
    color: #c7c2c2;
    line-height:.7rem;
    padding-top: 1.5rem;
}

.copyright__brand span{
    font-size: .4rem;
    color: #c0bbbb;
    padding-left:1rem;
}

.copyright__poweredBy{
    font-size:.5rem;
    color: #c0bbbb;
    padding-top: 1.8rem;
    padding-right: .1rem;
}

       /* Media queries tablet version */

@media screen and (min-width: 481px) and (max-width:959px) {
    body{
        background-color: black;
    }
    .header{
        max-height:8.5vh
    }
    .logo{
        padding: .3rem;
    }
    .logo__img{
        width: 60%;
    }
    .hero{
        background: url(/img/herobgdesktop.jpg) fixed no-repeat 50% 50%; 
        min-height: 100vh;
        background-size:cover;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__title h1{
        text-align: center;
        padding-top: 0;
        font-size: 8rem;
        line-height:6.5rem;
    }
    .hero__subtitle{
        text-align: center;
    }
    .hero__title-h2{
        display: inline-block;
        font-size: 1.7rem;
        background-color: #474343;
        margin-left: 5.5rem;
        margin-top: 1.5rem;
        padding: 0 .3rem;
    }
    .social-proof{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }
    
    .social-proof__text{
        width: 90%;
        font-size: 3.3rem;
        line-height: 3.2rem;
    }
    .social-proof__portrait-img{
        width: 40%;
        padding-top: 1.5rem;
    }
    .social-proof__name{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.1rem;
    }
    #gallery-slider{
        width: 95%;
        margin: auto;
        background:none;
        padding-top: 0;
    }
    .slider__title-box-h2{
        font-size: 2.5rem;
        color: #acb4bb;
    }
    #gallery-slider > .menu-slider{
        margin-top:7rem ;
        margin-bottom: 1.5rem;
    }
    #gallery-slider > .menu-slider li{
        margin-right: 2rem;
    }
    #gallery-slider > .menu-slider li a{
        width: 1.1rem;
        height: 1.1rem;
    }
    #gallery-slider > ul.slider li img{
        border-bottom:  5px solid #5d40a0;
        border-right: 8px solid #86098a ;
        border-top: 2px solid #2f098a;
        border-left: 1px solid rgba(255, 166, 0, 0.411);
    }
    .cards{
        background:linear-gradient(to right, rgb(155, 151, 173), rgb(102, 96, 131)) ;
    }
    .cards .prices__card,
    .prices__promos-card,
    .prices__payment-methods{
        width: 65%;
        background:linear-gradient(to left, #e0e8ee,  #5d7a92);
        border: none;
    }
    .cards li{
        font-size: 1rem;
        padding: 0 .8rem;
        color: #323235;
    }
    .cards h2{
        color: #431757;
        font-weight: bold;
    }
    .cards h4{
        color:#323235 ;
    }
    .aboutMe__title{
        font-size: 2.3rem;
        font-family:'Roboto', sans-serif;
        color: #2b2a2e;
        letter-spacing: 1.5px;
    }
    .aboutMe__text,
    .aboutMe__text-2{
        width: 45%;
        padding-left: 1rem;
        padding-right: .5rem;
        color:#2b2a2e;
    }
    .shift__button-aboutMe{
        margin-left: 2.1rem;
        width: 30%;
        padding:1.2rem 1.8rem;
    }
    
    .youtube{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 50vh;
    }

    .youtube__text-title{
        margin-top: .5rem;
        color: #bdb5b5;
    }
    .youtube__text-title--p{
        color: #bbbac2;
        font-size: 1.1rem;
    }
    .video__youtube{
        width: 95vw;
        min-height: 40vh;
        margin-bottom: 2rem;
    }
    .contact__title{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .contact__ubicacion{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        margin-bottom: .5rem;
    }
    .contact__navigationFooter-bar{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        padding-left: 1rem;
    }
    .contact__navigationFooter-bar li{
        margin-bottom: .3rem;
    }
    .contact__navigationFooter-bar--items a{
        font-size: 1rem;
        font-weight: 100;
        color: #d8d2d2;
    }
    .contact__navigationFooter-bar--items-faq{
        pointer-events: none;
        font-size: .8rem ;
        font-weight: bold;
        line-height:1.5rem;
        padding-right: .5rem;
    }
    .contact__ubication-map{
        width: 50%;
        height: 41vh;
        margin-right: 1rem;
    }
    .copyright__brand{
        padding-left: 1rem;
    }
    .copyright__poweredBy{
        padding-right: 1rem;
    }
}
        /* Media query grid gallery sizes*/

@media (min-width: 600px) {
    .wide {
    grid-column: span 2;
    }
    .xwide {
        grid-column: span 4;
    }
    .tall {
    grid-row: span 2;
    }
}
       /* Media queries desktop version */

@media screen and (min-width:960px){   
    body{
        width: 100%;
    }
    .header{
        background:linear-gradient(to right, #e0e8ee,  #a6bfd4);
        width: 100%;
        max-height: 9vh;
        padding: 0;
        position: fixed;
    }
    .logo{
        width: 25%;
        padding: .8rem;
    }
    .logo__img{
        height: 2rem;
        margin-bottom: .8rem;
    }
    .buttonmenu{
        display: none;
    }
    .menu{
        position: absolute;
        width: 50%;
        right: 0%;
    }
    .desktopmenu{
        padding-top: .8rem;
        display:flex;
        position: relative;
        z-index: 2;
        margin-right: 1.5rem;
    }
    .desktopmenu__items{
        padding-right: 2rem;
        color: #f5f4f4;
        font-size: 1.1rem;
        padding-top: .4rem;
    }
    .desktopmenu__items a{
        padding-top: .3rem;
    }
    .desktopmenu__items:hover{
        color: #7c71be;
        font-size: 1.2rem;
    }
    .desktopmenu__items--button{
        padding: .625rem 1.25rem;
        border: 1px solid rgba(247, 242, 242, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        background-color: #9b31cc;
        color: #faf3f3;
        font-weight: bold;
        border-radius: 1.2rem;
        opacity:.8;
    }
    .desktopmenu__items--button:hover{
        background-color: #8a23b9;
        transform: scale(1.06);
    }
    .hero{
        background: url(/img/herobgdesktop.jpg) fixed no-repeat 50% 50%; 
        min-height: 100vh;
        background-size:cover;
    }
    .hero::before{
        background: rgba(60, 60, 85, 0.2)fixed no-repeat 50% 50%;
    }
    .hero__title{
        width: 65%;
        margin: 0 auto;
    }
    .hero__title-h1{
        padding-top: 2.9rem;
        font-size: 8rem;
        line-height:7.1rem;
        color: #f1eeee;
    }
    .hero__title-h2{
        display: inline-block;
        font-weight: 100;
        font-size: 1.7rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        color: #83ccd1;
        background-color: #474343;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-left: .6rem;
    }
    .shift__button-hero{
        position: relative;
        left: 43%;
        top: 20%;
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem 2.7rem;
        transition: all 0.4s;
    }
    .shift__button-hero:hover{
        margin-top: 4rem;
        font-size: 1.1rem;
        background-color: #8a23b9;
        transform: scale(1.06);
    }
    .wavedivider {
        display: none;
    }
    .social-proof__text{
        width: 100%;
        padding-top: 5rem;
        font-size: 3.3rem;
        line-height: 3.5rem;
    }
    .social-proof__portrait-img{
        width: 25%;
        padding-top: 2.5rem;
    }
    .social-proof__name{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #gallery-slider{
        display: none;
    }

            /*GRID GALLERY DESKTOP*/

    .grid-gallery{
        margin-top: 6rem;
        margin-bottom: 4rem;
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
        grid-auto-rows: auto;
        gap: 1.5rem;
        padding: 2rem;
        grid-auto-flow:dense;
        background:linear-gradient(to right, #cae5e7, #72b9be);
    }
    .grid-gallery__items {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-gallery__items img{
        border-radius: .5rem;
    }
    .grid-gallery__items:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    .grid-gallery__title{
        font-family:'Bodoni Moda', serif;
        font-size: 3.6rem;
        color:#ececec;
        background:linear-gradient(to right, #8576a8, #86098a,  #8576a8);
        padding-bottom: .1rem;
        margin-bottom: 2.5rem;
    }
    .grid-gallery__footer{
        position: relative;
        left: 2.2%;
        font-family:'Bodoni Moda', serif;
        font-size: 2.5rem;
        line-height: 2rem;
        color: #ececec;
        background:linear-gradient(to right, #8576a8, #86098a,  #8576a8);
        padding-bottom: .2rem;
        padding-top:.3rem;
        margin-top: 2rem ;
        margin-bottom: 2rem;
    }
    .fa-arrow-right-long{
        padding-top: .5rem;
        padding-left: 1rem;
        font-size: 2rem;
        color: whitesmoke;
    }
    #prices{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .bgD{
        background:linear-gradient(to right,#36363f, #20203a) ;
    }
    .cards{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        width: 75.5%;
        margin: auto;
        max-width: 1100px;
        background:none;
        gap: 2rem;
        padding-left:2rem;
        padding-right: 2rem;
    }
    .prices__card:hover{
        transform: scale(1.04);
    }
    .prices__promos-card:hover{
        transform: scale(1.04);
    }
    .prices__payment-methods{
        height: 20.3rem;
        margin-bottom: 0;
    }
    .prices__payment-methods ul{
        padding-bottom: .7rem;
    }
    .prices__payment-methods h4{
        padding-top: 0;
        padding-bottom: 0;
    }
    .prices__payment-methods--button:hover{
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    .prices__payment-methods:hover{
        transform: scale(1.04);
    }
    #aboutMe{
        padding-top: 0;
        margin-top: 6rem;
        margin-bottom: 2rem;
        background-size:contain ;
    }
    .aboutMe__title{
        width: 55%;
        margin: auto;
        font-size: 2.3rem;
        color: #726a6a;
    }
    .aboutMe__text,
    .aboutMe__text-2{
        width: 35%;
        margin-left: 11.5rem;
        font-family: 'Inter', sans-serif;
        color:#5f5e63;
        font-size: 1.2rem;
        text-align:left;
    }
    .shift__button-aboutMe{
        position: relative;
        right: 18%;
        width:25%;
        padding:1rem 2.7rem;
        margin-bottom: 4rem;
        font-weight: bold;
        background-color: #9b31cc;
        transition: all 0.4s;
    }
    .shift__button-aboutMe:hover{
        transform: scale(1.06);
        background-color: #8a23b9;
        transition: all 0.4s;
    }
    .linedivider-desktop{
        width:75%;
        margin: 0 auto;
        min-height: 0.1rem;
        border: none;
        background:linear-gradient(to right, #86098a , #85768a , #2f098a);
        margin-bottom: 4rem;
    }
    .youtube{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 3rem;
    }
    .youtube__text{
        width: 35vw;
        padding-left: 3.9rem;
    }
    .youtube__text-title{
        padding-top: 0;
        padding-bottom: 1rem;
        padding-left: 0;
    }
    .youtube__text-title--p{
        font-size: 1rem;
        line-height: 1.5rem;
        width: 85%;
    }
    .video{
        width: 37%;
        padding-right: 2rem;
    }
    .video__youtube{
        min-height: 55vh;
        border-radius: .85rem;
    }
    #contact{
        width: 100%;
        min-height: 30vh;
    }
    .contact__title{
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }
    .container-icons a:hover{
        color: rgb(146, 141, 197);
    }
    .fa-whatsapp{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .contact__ubicacion{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        margin-bottom: .5rem;
    }
    .contact__navigationFooter-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10rem;
    }
    .contact__navigationFooter-bar--items-faq{
        pointer-events: none;
        font-size: .8rem ;
        font-weight: bold;
        line-height:1.5rem;
    }
    .contact__navigationFooter-bar li{
        margin-top: 1rem;
    }
    .contact__navigationFooter-bar li:first-child{
        margin-top: 0;
    }
    .contact__navigationFooter-bar--items a{
        font-size: 1rem;
        font-weight: 100;
        color: #d8d2d2;
    }
    .contact__navigationFooter-bar--items a:last-child{
        margin-bottom: .5rem;
    }
    .contact__navigationFooter-bar--items a:hover{
        color:  #f8f4f4;
    }
    .contact__ubication-map{
        width: 40%;
        margin-right: 6rem;
        margin-top: .5rem;
    }
    .copyright{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .copyright__brand{
        font-size: .8rem;
        padding-left: .5rem;
    }
    .copyright__brand span{
        font-size: .6rem;
    }
    .copyright__poweredBy{
        font-size: .6rem;
        padding-top: 2.3rem;
        padding-left: 5rem;
    }
    .copyright__poweredBy:hover{
        color: rgb(193, 224, 235);
    }
}